<style media="screen" type="text/css">
    img {
                margin-top: 15px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
        }


        input.boolean.optional {
            float: left;
            margin-right: 5px;
        }

        label.email.optional {
                display: none;
        }

        label.password.optional {
                display: none;
        }
</style>


<div class="span3 offset5">
	<center>
        <%= link_to image_tag("jlhs_logo.jpg"), root_path %>
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.input :email, :required => false, :autofocus => true, :placeholder=>"Email" %>
        <%= f.input :password, :required => false, :placeholder=>"Password" %>
        <%= f.button :submit, "Sign in", :class=>"btn btn-large btn-primary" %>
        <% end %>
    </center>
</div>